{% extends 'main_app/visualizer.html' %}
{% block attributes %}
<form action="{% url 'relational' chart %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-2">
            <label for="xAxisSelect">x-axis</label>
            <select class="form-select form-select-sm" id="xAxisSelect" name="x_axis">
                {% for attribute in attributes %}
                <option>{{ attribute }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="yAxisSelect">y-axis</label>
            <select class="form-select form-select-sm" id="yAxisSelect" name="y_axis">
                {% for attribute in attributes %}
                <option>{{ attribute }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="StyleSelect">Style</label>
            <select class="form-select form-select-sm" id="StyleSelect" name="style">
                <option selected>None</option>
                {% for attribute in attributes %}
                <option>{{ attribute }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="HueSelect">Hue</label>
            <select class="form-select form-select-sm" id="HueSelect" name="hue">
                <option selected>None</option>
                {% for attribute in attributes %}
                <option>{{ attribute }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="PaletteSelect">Palette</label>
            <select class="form-select form-select-sm" id="PaletteSelect" name="palette">
                <option selected>default</option>
                <option value="deep">Deep</option>
                <option value="muted">Muted</option>
                <option value="bright">Bright</option>
                <option value="pastel">Pastel</option>
                <option value="dark">Dark</option>
                <option value="colorblind">Colorblind</option>
            </select>
        </div>
        <div class="col-2" style="padding-top: 1.2rem">
            <button type="submit" class="btn btn-outline-dark">Make chart</button>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="col-2">
            <label for="HueSelect">Size</label>
            <select class="form-select form-select-sm" id="SizeSelect" name="size">
                <option selected>None</option>
                {% for attribute in attributes %}
                <option>{{ attribute }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-6 pe-0 me-0">
                    <label for="MinSizeSelect">Min Size</label>
                    <select class="form-select form-select-sm" id="MinSizeSelect" name="min_size">
                        <option selected>None</option>
                        {% for num in min_max %}
                        <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 ps-0 ms-0">
                    <label for="MaxSizeSelect">Max Size</label>
                    <select class="form-select form-select-sm" id="MaxSizeSelect" name="max_size">
                        <option selected>None</option>
                        {% for num in min_max %}
                        <option>{{ num }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-2" style="padding-top: 1.3rem">
            <a class="btn btn-outline-dark" href="{% url 'show_data' %}" role="button" target="_blank">
                Show row data
            </a>
        </div>
    </div>
</form>

{% endblock %}